{
  "openapi": "3.1.0",
  "info": {
    "title": "Punks Permanent public datasets",
    "version": "1.0.0",
    "description": "Static, read-only CryptoPunks attribute and native-market history snapshots."
  },
  "servers": [{ "url": "https://cryptopunks.website" }],
  "paths": {
    "/data/punks-attributes.json": {
      "get": {
        "summary": "Return deterministic traits for all 10,000 Punks",
        "operationId": "getPunkAttributesSnapshot",
        "responses": { "200": { "description": "Attribute snapshot", "content": { "application/json": { "schema": { "type": "object", "required": ["schema", "source", "punks", "counts"] } } } } }
      }
    },
    "/data/history-manifest.json": {
      "get": {
        "summary": "Return market-history shard metadata and checksums",
        "operationId": "getHistoryManifest",
        "responses": { "200": { "description": "History manifest", "content": { "application/json": { "schema": { "type": "object", "required": ["schema", "source", "totals", "shards"] } } } } }
      }
    },
    "/data/history/{shard}.json": {
      "get": {
        "summary": "Return decoded native-market events for a 100-Punk shard",
        "operationId": "getHistoryShard",
        "parameters": [{ "name": "shard", "in": "path", "required": true, "description": "Two-digit shard from 00 through 99; shard N covers Punk IDs N00 through N99.", "schema": { "type": "string", "pattern": "^(?:[0-9][0-9])$" } }],
        "responses": { "200": { "description": "Decoded history shard", "content": { "application/json": { "schema": { "type": "object" } } } }, "404": { "description": "Unknown shard" } }
      }
    }
  }
}

